
  <div nz-row class="index_row">
    <div nz-col nzSpan="24">
  
        <div class="thumbnail">
            <a >
                <button (click) = get_text()>Texts</button>
            </a>
            <div class="caption">
                <h3>
                    <a href="#" target="_blank"> <br><small></small></a>
                </h3>
                <textarea nz-input placeholder=" " [nzAutosize]="{ minRows: 10, maxRows: 60 }" nzBorderless>{{texts['article_text']}}</textarea>
            </div>
        </div>
  
  
  
  
    
  

 
