
<div class="content" role="main">
  <div>
   <app-search></app-search>
  </div>
  <div class="d3-chart container tree" #chart></div>
  <div nz-row nzAlign="top">
    <div nz-col nzSpan="2" >
    <app-graph></app-graph> 
    </div>
    <div nz-col nzSpan="18" ><p class="height-120">
     <app-concept-tree></app-concept-tree></p> 
      </div> 
    <div nz-col nzSpan="4">
      <app-details></app-details>
      </div>
  </div>
  </div>
<router-outlet></router-outlet>

        
    
       
   





 
